#This repo should only ever contain non-sensitive information related to SAFETAG framework development.

# Audit content should not ever be committed
/audit/*

#Report or ADIDS content should never be committed.
/build/*

#Don't commit any auto-saves
\#*\#
*~

#Ignore "working" files
WORKING__*

#Ignore Latex Modules
modules/install-tl*
modules/texlive

#Ignore all png images as they are created by SVG's in the makefile
*.png

#Ignore all fonts that are downloaded
styles/fonts
NotoSans-hinted.zip
DESCRIPTION.en_us.html
DroidNaskh-Bold.arabic
DroidNaskh-Bold.menu
DroidNaskh-Bold.ttf
DroidNaskh-Regular.arabic
DroidNaskh-Regular.menu
DroidNaskh-Regular.ttf
EARLY_ACCESS.css
EARLY_ACCESS.family
EARLY_ACCESS.html
LICENSE.txt
METADATA.json
VERSION.txt
