/* base */

body {
	background: white; 
	font-size: 12pt; 
	font-family: serif;
}

/* fonts */

h1,
h2,
h3,
h4 {
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -.06em;
    margin-bottom: 0px;
}

h2, 
h3 {	
    text-transform: uppercase;
}

.note {
    text-transform: uppercase;
}

.sidebar {
    text-transform: uppercase;
    color: #00467f;
}

.orange_sidebar {
    text-transform: uppercase;
    color: #c85c19;
}

.confidential {
    border-style: dashed;
    border-color: red;
    border-width: 3px;
}

/* TODO: Eventually use custom bullet's to get those big chunky light blue squres that we want. */
ul {
    list-style: square;
}

/* Colors */

h1,
h2, 
h3 {
    color: #00467f;
}

h4 {
    color: #60A144;
}

.h5 {
    color: #000000;
}

.orange_sub {
    color: #c85c19;
}

.note {
    color: #c85c19;
}

/* Print Formatting */

h1 {
    font-size: 40pt;
}
h2 {
    font-size: 32pt;
}
h3 {
    font-size: 18pt;
}
h4 {
    font-size: 12pt;
}

h1,
h2 {
    page-break-before: always;
}

h2,
h3,
h4 {
    page-break-after: avoid;
}

p {
    orphans: 3;
    widows: 3;
}

/* 
   line above and below
   running people icon to the left
   float right of the icon
*/
.activity {}

/* 
   line above and below
   speech bubbles icon to the left
   float right of the icon
*/
.discussion {}

/* 
   line above and below
   person icon to the left
   float right of the icon
*/
.input {}

/* 
   line above and below
   magnefying glass icon to the left
   float right of the icon
*/
.deepening {}

/* 
   line above and below
   puzzle icon to the left
   float right of the icon
*/
.synthesis {}

/* 
   line above and below
   pencil icon to the left
   float right of the icon
*/
.handout {}

